*{
    margin: 5px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main {
display: flex;
align-items: center;
flex-direction: column;

}

span {
    margin: 0;
}
body,html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #102332;
    color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.title h1 {
    letter-spacing: 1.25rem;
    font-size: 4rem;
}

.inputMain {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 32.5rem;
    height: 3rem;
    border: none;
    border-radius: 4rem;
    background-color:#384149;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    padding-left: 2rem;
    padding-right: 2rem;
    caret-color: white;
    color: white;
    /**color: rgb(65, 144, 73);*/
    font-size: 1rem;
    caret-color: white;
}

.textEdit {
    outline: none;
}

.timer {
    font-size: 1.5rem;
}